@{
    ViewBag.Title = "Tack för din beställning";
}
<!--EMMY-->
<h2>Tack för din beställning!</h2>
<p>Din beställning har mottagits och behandlas nu.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>