@{
    ViewBag.Title = "Betalningsalternativ";
}

<h2>Betalningsalternativ</h2>

<form action="@Url.Action("Bestallning", "Betalning")" method="post">
    <p>Välj din betalningsmetod här.</p>
    <button type="submit">Lägg beställning</button>
</form>