
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #E1E1E1;

}
.navbar {
    list-style: none;
    background-color: #A9B9AF !important;
    padding:0.4rem;
}
.nav-link li a:hover{color:ligthgray;}
    .navbar a{color:black;}
        .navbar a:hover{color:lightgray;}
        .container {
            width: 90%;
            margin: 0 auto;
        }

/*STARTSIDA*/
section.productsbox {width:90%; margin: 0 auto;}
section.productsbox .products{display:flex; flex-direction:row; justify-content:space-between;}
section.productsbox .products .box { background-color: #D9D9D9;}


/*KATEGORISIDA*/

    section.category .top-section .searchbar{margin-bottom:10px;}

    section.category .top-section .searchbar input {
        border: none;
        padding: 8px;
        border-radius: 10px;
        background-color: #8E8E88;
        width:70%;
    }
    section.category .top-section .searchbar button {
        border: none;
        padding:8px;
        border-radius: 10px;
        background-color: #86847A;
        width:50px;
    }

    section.category .top-section .boxflex{display:flex; flex-direction:row; justify-content:space-between;}
    section.category .top-section .sort-dropdown{margin-left:20px;}

    section.category .top-section .sort-dropdown #sortDropdown {
        border-radius: 10px;
        padding: 10px;
        background-color: #8E8E88;
    }

    section.category .productscategory {
        display: flex;
        flex-direction: column;
    }
    section.category .productscategory ul {
        list-style: none;
    }
    section.category .productscategory .produkt-info .wrapper {
        display: flex;
        flex-direction: row;
        margin-top:10px;
    }



section.category .productscategory .produkt-info a{text-decoration:none; color:black;}
section.category .productscategory .produkt-info .text-info {
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #8E8E88;
    text-decoration: none;
    color: black !important;
    padding:20px;
    border-radius:10px;
    margin-left:20px;
    width:70%;
}
    section.category .productscategory .produkt-info .text-info .textbox{display:flex; flex-direction:column;}
    section.category .productscategory .produkt-info .buttonbox{margin-left:10px;}
    section.category .productscategory .produkt-info .buttonbox button {
        background-color: #86847A;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
        section.category .productscategory .produkt-info .buttonbox button:hover{background-color:lightgray;}
       
        
        
/*PRODUKTSIDA*/
section.product .productinformation{margin-bottom:50px;}

section.product .userbox{margin-bottom:30px;}
section.product .information {
    margin-bottom: 50px;
}
section.product .information .boxes {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
section.product .information .boxes .first {
    padding: 20px;
    background-color: #D9D9D9;
    width: 250px;
}
section.product .similarproducts ul{list-style:none;}
section.product .similarproducts a{text-decoration:none;}
section.product .similarproducts {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
        section.product .similarproducts .productsrow{background-color: #D9D9D9; padding-top:15px;}


        /*FOOTER*/
        footer {
            background-color: #A9B9AF;
        }