@{
    ViewData["Title"] = "Home Page";
}

<section class="about">
    <div class="aboutbox">
        <div class="wrapper">

            <strong><h3>Välkommen till vår webbsida!</h3></strong>
            <p>
                Vi är en onlineplattform som specialiserar sig på försäljning av begagnade varor,
                inspirerad av den populära tjänsten Blocket.
                Vår passion är att skapa en enkel och säker miljö där köpare och
                säljare kan mötas för att handla begagnade produkter av hög kvalitet.
            </p>
            <strong><h3>Vår historia:</h3></strong>
            <p>
                Vår historia började med en enkel vision: att erbjuda ett bekvämt sätt för människor att sälja och köpa begagnade varor online.
                Vi insåg att det fanns ett behov av en plattform där användare kunde navigera enkelt, känna sig säkra och njuta av en smidig köpupplevelse.
            </p>
            <strong><h3>Vårt uppdrag:</h3></strong>
            <p>
                Vårt uppdrag är att skapa en användarvänlig och tillförlitlig marknadsplats där våra kunder kan hitta precis det de letar efter.
                Vi strävar efter att erbjuda en trygg och transparent handelsmiljö där integritet och förtroende står i centrum.
            </p>
            <strong><h3>Vad vi erbjuder:</h3></strong>
            <p>Ett brett utbud av begagnade varor: Från elektronik och möbler till fordon och kläder, vår plattform erbjuder ett mångsidigt utbud av produkter för alla behov och budgetar.</p>
            <p>Säkra transaktioner: Vi prioriterar säkerheten för våra användare och tillhandahåller olika betalningsalternativ samt rekommendationer för säkra transaktioner.</p>
            <p>Enkel navigering: Med en intuitiv gränssnitt och kraftfulla sökfunktioner gör vi det enkelt för våra kunder att hitta det de letar efter snabbt och smidigt.</p>

            <div class="contactform">
                <strong><h3>Kontakta oss:</h3></strong>
                <p>
                    Har du frågor, feedback eller förslag? Tveka inte att kontakta vårt supportteam. Vi är här för att hjälpa till och se till att din upplevelse på vår plattform är så bra som möjligt.
                    Tack för att du valde att handla med oss!
                </p>
                <form asp-controller="Home" asp-action="KontaktaOss" method="get">
                    <button type="submit" class="btn btn-primary">Kontakta</button>
                </form>
            </div>
        </div>
    </div>
</section>
