<section class="blogg">


<div class="wrapper">
		<h4>Här är sakerna du borde köpa begagnat</h4>
		<h2>Sport- och friluftsutrustning, barnprylar och teknik är några exempel på saker som går att hitta i
			toppskick men till fyndpriser på begagnatmarknaden.
			Här listar vi några saker du borde köpa begagnat istället för nytt.</h2>
		<h5>Friluftsutrustning</h5>
		<p>Ett nytt tält som klarar väder och vind kostar ofta över 10 000 kronor i nypris. 
			Samtidigt är det en sådan sak som kan hålla hög kvalitet även efter några års användning. Samma sak gäller ryggsäckar, stormkök, campingbord, kikare och annan utrustning. 
			Här kan du fynda och hitta kvalitetsprodukter till så lite som en tredjedel av nypriset.</p>
		
		<h5>Babykläder</h5>
		<p>Små bebisar växer fort ur sina kläder och innan de börjar krypa så gör de 
			heller ingenting som direkt sliter på kläderna. Därför finns det en uppsjö 
			av bebiskläder till salu på olika begagnatsajter. Ytterligare en fördel med 
			att handla just babykläder second hand är att de förmodligen redan är tvättade ett antal gånger. 
			Små bebisars hud kan vara väldigt känslig och köper du nytt bör du tvätta kläderna 
			åtminstone ett par gånger innan du använder dem.</p>
			<h5>Elektronik</h5>
		<p>
			Behöver du ny dator, TV eller smartphone? 
			Här kan du spara tusenlappar på att kolla begagnathandeln först. 
			Det finns gott om tekniknördar som vill ha den senaste modellen och
			som därför säljer sin teknik trots att den (i mångas ögon) är i princip 
			ny och fortfarande har hög prestanda.
			Vet du vilken modell du vill ha? Skapa bevakningar här på Blocket och 
			vara snabb när ett fint exemplar dyker upp.
		</p>
		
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>

</section>