<section class="blogg">

<h2>DIY</h2>
<div class="wrapper">
<p>Välkommen till vår DIY-blogg där vi delar kreativa idéer och guider för att skapa fantastiska heminredningsdetaljer på egen hand. Oavsett om du är en erfaren hantverkare eller nybörjare finns det något för alla att prova på. Ta fram dina verktyg och låt oss börja skapa!</p>
	<h4>Gör-det-själv Hängande Hylle</h4>
	<h5>Material</h5>
	<li>
		Träbräda (efter önskad storlek)
	</li>
	<li>
		Rep
	</li>
	<li>
		Skruvar och pluggar
	</li>
	<li>
		Borrmaskin
	</li>
		<li>
		Såg
	</li>
	<li>
		Målarfärg och pensel
	</li>

</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>

</section>