<section class="blogg">

<div class="wrapper">
    <div class="frakt">
        <h2>Fraktlista</h2>

        <table>
            <tr>
                <th>Vikt (kg)</th>
                <th>Fraktavgift</th>
            </tr>
            <tr>
                <td>Upp till 1 kg</td>
                <td>29kr</td>
            </tr>
            <tr>
                <td>Upp till 5 kg</td>
                <td>49kr</td>
            </tr>
            <tr>
                <td>Upp till 10 kg</td>
                <td>99kr</td>
            </tr>
			</table>
		</div>
		<h4>Handla tryggt hos oss</h4>
		<p>
			Det ska vara smidigt och säkert att välja andra hand. Därför lägger vi stort fokus på trygghet.
			Här kan du läsa om vad vi gör och vad du själv bör tänka på.
		</p>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>
</section>