@model List<ExamensarbeteNy.Models.Kategori>

@{
    ViewData["Title"] = "Startsida";
}
<section class="header">
<h3>VÄLKOMMEN TILL TRADE TREASURE</h3>
<p>Här ska vi lägga en header bild</p>
</section>





<a class="btn btn-primary" asp-controller="Product" asp-action="SkapaProdukt">Skapa ny produkt</a>

<section class="productsbox">
<div class="products">
    <div class="box">
        BOX 1
    </div>
    <div class="box">
        BOX 2
    </div>
    <div class="box">
        BOX 3
    </div>
</div>
<section>