
<section class="blogg">
<h2>KLÄDERTIPS</h2>
<div class="wrapper">
		<p>
			text text text text text text text text text
			text text text text text text text text text
			text text text text text text text text text
		</p>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>
</section>