<section class="thanks">
    <div class="thanksbox">
        <div class="wrapper">
            <h3>Tack för ditt meddelande!</h3>
            <p>Vi har mottagit ditt meddelande och kommer att återkomma till dig så snart som möjligt.</p>
        </div>
    </div>
</section>