<h1>Villkor för användning</h1>
<p>Välkommen till våra användarvillkor. Dessa villkor reglerar din användning av vår webbplats. 
	Genom att använda vår webbplats, accepterar du dessa villkor fullständigt. 
	Om du inte håller med om dessa villkor eller någon del av dem, vänligen avstå från att använda vår webbplats.</p>

<h3>Ålderskrav:</h3>
<p>Du måste vara minst 18 år gammal för att använda vår webbplats. 
	Genom att använda vår webbplats intygar du att du är minst 18 år gammal.</p>

<h3>Användarinformation:</h3>
<p>Vi samlar in och lagrar användarinformation enligt vår integritetspolicy. 
	Genom att använda vår webbplats samtycker du till insamling och användning av din information i enlighet med vår integritetspolicy.</p>

<h3>Användarbeteende:</h3>
<p>Du ansvarar för ditt beteende på vår webbplats. 
	Du får inte använda vår webbplats på ett sätt som strider mot gällande lagar och regler eller på ett sätt som stör andra användarens upplevelse.</p>

<h3>Ansvarsfriskrivning:</h3>
<p>Vi strävar efter att tillhandahålla noggrann och aktuell information på vår webbplats, 
	men vi kan inte garantera att all information är korrekt eller fullständig. 
	Vi ansvarar inte för eventuella felaktigheter eller brister i informationen.</p>
<h3>Ändringar av villkor:</h3>
<p>Vi förbehåller oss rätten att när som helst ändra dessa villkor. Alla ändringar kommer att träda i kraft omedelbart efter publicering på webbplatsen. 
	Genom att fortsätta använda vår webbplats efter att ändringar har gjorts, accepterar du de ändrade villkoren.</p>
<h3>Kontakta oss:</h3>
<p>Om du har frågor eller kommentarer om våra villkor, 
	vänligen kontakta oss. Vi är här för att hjälpa till och förklara eventuella frågor som du kan ha.</p>

<h4>Tack för att du väljer att använda vår webbplats!</h4>