@model IEnumerable<ExamensarbeteNy.Models.Bevakning>

<p>Antal bevakningar: @Model.Count()</p>

<table>

    <tbody>
        @foreach (var bevakning in Model)
        {
            <tr>
                <td>@bevakning.Id</td>
                <td>@bevakning.ProduktId</td>

            </tr>
        }
    </tbody>
</table>