@model IEnumerable<ExamensarbeteNy.Models.Bevakning>
<!--EMMY-->
<p>Antal bevakningar: @Model.Count()</p>

<table>

    <tbody>
        @foreach (var bevakning in Model)
        {
            <tr>
                <td>@bevakning.Id</td>
                <td>@bevakning.ProduktId</td>

            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Till startsidan</a>